@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$colors: (
	"bg-color": #082f29,
  "primary": #30D2BC,
  "secondary": #DB739F,
  "secondary-hover": #b96085,
  "accent": #072b27,
  "paragraph": #868585
);

@function color($color-name){
	@return map-get($colors, $color-name);
};

@mixin spanTextShadowEffect {
  span {
    color: color(primary);
    font-weight: 400;
    text-shadow: 2px 2px 10px rgba(48, 210, 188, 0.18);
    // text-shadow: 1px 4px 0 rgba(48, 210, 188, 0.18);
  
  }
};

@mixin button3dEffect {
    // text-transform: uppercase;
    font-weight: 500;
    padding: .5rem .9rem;
    font-size: 1rem;
    color: color(secondary);
    background-color: color(bg-color);
    border: 1px solid color(secondary);
    // box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
    transition: .1s;
    outline: none;
    cursor: pointer;
    &:hover{
      background-color: color(secondary);
      color: white;
      // box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
    }
    &:active{
        box-shadow:0 0 0 0;
    }
};

@mixin mobile {
  @media (max-width: 599px) { @content; }
};

@mixin tablet {
  @media (max-width: 979px) { @content; }
};

@mixin desktop {
  @media (min-width: 980px) { @content; }
};

@mixin large-desktop {
  @media (min-width: 1800px) { @content; }
};

* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: color(bg-color);
  color:white;
}

.navbar-container {
  margin: auto;
  width: 100%;
  z-index: 1000;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4rem 2rem 0 2rem;
  
    .logo {
      text-decoration: none;
      color: white;
      z-index: 1000;
      width: 4rem;
    }

    .menu-btn {
      display: none;
      width: 2rem;
      &:checked ~ .menu-container {
        background: color(accent);
        opacity: 1;
      }
      &:checked ~ .menu-icon .nav-icon {
        background: transparent;
  
        &:before {
          transform: rotate(-45deg);
          top: 0;
        }
        &:after {
          transform: rotate(45deg);
          top: 0;
        }
  
      }
    }

    .menu-icon {
      padding: 1rem .5rem;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      @include desktop(){
        display: none;
      }
      .nav-icon {
        background: color(paragraph);
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;
        z-index: 100;
        &:before {
          content: '';
          background: color(paragraph);
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 5px;
          transition: all .2s ease-out;
        }
        &:after {
          content: '';
          background: color(paragraph);
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: -5px;
          transition: all .2s ease-out;
        }
      }
  
    }
  
    .menu-container {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      height: 50vh;
      width: 100%;
      background: transparent;
      box-shadow: 0px -1px 6px 0px #141716;
      opacity: 0;
      transition: background .2s ease-out, opacity .2s ease-out;
      @include desktop(){
        position: relative;
        opacity: 1;
        width: 100%;
        height: auto;
        box-shadow: none;
      }
      @include mobile(){
        height: 100vh;
      }
      nav {
        
        ul{
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 6rem;
          @include desktop{
            flex-direction: row;
            margin-top: 0;
          }
      
          li {
            margin-right: 2rem;
            letter-spacing: 1px;
            font-size: 1rem;
            font-weight: 400;
            @include tablet(){
              margin: 1rem 1.5rem 1rem 3.5rem;
            }
      
            :hover {
              color: color(secondary);
            }
      
            a {
              text-decoration: none;
              color: color(paragraph);
              transition: .2s;
              outline: none;
            }
      
            .contact-btn {
              @include button3dEffect;
            }
            
          }
      
        }
    
      }
    }
  
  }
}



main {
  max-width: 1800px;
  min-height: 100vh;
  padding: 15rem 5rem 5rem 10rem;
  box-sizing: border-box;
  @include mobile{
    padding: 8rem 3rem;
  };
  @include tablet{
    padding: 5rem 3rem;
  };

  .header {
    height: 100vh;
    @include mobile{
      height: auto;
    };
    @include tablet(){
      height: 70vh;
    };
  }

  .header__content {
    
    h1 {
      font-weight: 300;
      font-size: 4rem;
      line-height: 130%;
      color: color(paragraph);
      @include spanTextShadowEffect();
      @include mobile{
        font-size: 2.5rem;
      };
    }
  }

  .header__social-icons ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
      margin: 2rem 2rem 0 0;
      svg {
        width: 2rem;
        @include mobile{
          width: 1.5rem;
        };
        fill: color(secondary);
        transition: .2s;
      }
      :hover {
        fill: color(secondary-hover);
      }
    }
  }

  .about-me,
  .contact {
    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-bottom: 2rem;
      color: color(paragraph);
      @include spanTextShadowEffect();
      @include desktop{
        font-size: 3rem;
      };
      @include mobile{
        font-size: 2.2rem;
        margin-top: 10rem;
      };
    }

    p {
      color: color(paragraph);
      font-size: 1rem;
      max-width: 800px;
    }

    .about-me__skills-list {
      display: flex;
      flex-direction: row;
      ul {
        list-style-type: none;
        margin: 1rem 5rem 0 0;
        @include large-desktop(){
          margin: 2.5rem 5rem 0 0;
        };
        li {
          color: color(paragraph);
          font-size: .9rem;
          @include desktop{
            font-size: 1.1rem;
          };
          &:before {
            content: "▹";
            position: relative;
            margin-right: 1rem;
            color: color(secondary);
            font-size: 1.2rem;
            @include desktop{
              font-size: 1.4rem;
            };
          }
        }
      }
    }
  }

  .projects {
    display: flex;
    justify-content: flex-end;
    @include tablet(){
      justify-content: flex-start;
    };
    h2 {
      margin: 9rem 0 2rem 0;
      font-size: 3.5rem;
      font-weight: 300;
      color: color(paragraph);
      @include spanTextShadowEffect();
      @include desktop{
        font-size: 3rem;
      };
      @include mobile{
        font-size: 2.2rem;
      };
    }

    .projects-container:nth-child(even) {
      flex-direction: row;
      .details {
        margin: 0 2rem;
        @include tablet(){
          margin: 0;
        }
      }
    }

    .projects-container:nth-child(odd) {
      flex-direction: row-reverse;
      .details {
        margin: 0 2rem;
        @include tablet(){
          margin: 0;
        }
      }
    }

    .projects-container:nth-child(even),
    .projects-container:nth-child(odd) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      max-width: 1000px;
      box-shadow: 0px -1px 4px 0px #1a2521;
      margin: 2rem 0 0 auto;
      background-color: #032926;
      @include tablet(){
        flex-direction: column;
        align-items: flex-start;
        max-width: 500px;
      }
      img {
        max-width: 100%;
        @include tablet(){
          margin-bottom: 2rem;
        }
      }
    .details {
      @include tablet(){
        text-align: center;
        padding: 0 2rem;
      }
      h3 {
        font-size: .9rem;
        color: color(primary);
        font-weight: 300;
        @include mobile{
          font-size: .8rem;
        };
      }

      h4 {
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        @include mobile{
          font-size: 1.5rem;
        };
      }

      p {
        margin-top: .5rem;
        color: color(paragraph);
        font-size: 1rem;
        font-weight: 300;
      }
    }
    .projects-social-icons{
      display: flex;
      @include tablet(){
        justify-content: center;
        margin-bottom: 1.5rem;
      }
      svg {
        width: 1.5rem;
        padding: 1.5rem 2rem 0 0;
        @include tablet(){
          padding: 1rem 1rem 0 1rem;
        }
        fill: white;
        transition: .2s;
        }
        :hover {
          fill: color(secondary);
        }
      }
    }
    .view-more-btn {
      margin-top: 4rem;
      @include button3dEffect;
    }
  }

  .contact {
    margin-top: 10rem;
    h2 {
      @include desktop{
        font-size: 3rem;
      };
      @include mobile{
        font-size: 2.2rem;
      };
    }
    .contact-btn {
      margin-top: 1.5rem;
      @include large-desktop{
        margin-top: 3rem;
      };
      @include button3dEffect();
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  @include mobile{
    flex-direction: column;
    padding-top: 1rem;
  };
  justify-content: space-between;
  align-items: center;
  background-color: color(accent);
  p {
    font-size: 1rem;
    margin-left: 2.2rem;
    color: color(paragraph);
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 1rem 2.2rem;
    @include mobile{
      margin-right: 0;
    };
    li {
      margin: 0 1rem;
      svg {
        width: 1.5rem;
        fill: color(paragraph);
        transition: .2s;
      }
      :hover {
        fill: color(secondary);
      }
    }
  }
  
}

