@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #082f29;
  color: white;
}

.navbar-container {
  margin: auto;
  width: 100%;
  z-index: 1000;
}

.navbar-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4rem 2rem 0 2rem;
}

.navbar-container header .logo {
  text-decoration: none;
  color: white;
  z-index: 1000;
  width: 4rem;
}

.navbar-container header .menu-btn {
  display: none;
  width: 2rem;
}

.navbar-container header .menu-btn:checked ~ .menu-container {
  background: #072b27;
  opacity: 1;
}

.navbar-container header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.navbar-container header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.navbar-container header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navbar-container header .menu-icon {
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

@media (min-width: 980px) {
  .navbar-container header .menu-icon {
    display: none;
  }
}

.navbar-container header .menu-icon .nav-icon {
  background: #868585;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  z-index: 100;
}

.navbar-container header .menu-icon .nav-icon:before {
  content: '';
  background: #868585;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navbar-container header .menu-icon .nav-icon:after {
  content: '';
  background: #868585;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navbar-container header .menu-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 50vh;
  width: 100%;
  background: transparent;
  -webkit-box-shadow: 0px -1px 6px 0px #141716;
          box-shadow: 0px -1px 6px 0px #141716;
  opacity: 0;
  -webkit-transition: background .2s ease-out, opacity .2s ease-out;
  transition: background .2s ease-out, opacity .2s ease-out;
}

@media (min-width: 980px) {
  .navbar-container header .menu-container {
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 599px) {
  .navbar-container header .menu-container {
    height: 100vh;
  }
}

.navbar-container header .menu-container nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

@media (min-width: 980px) {
  .navbar-container header .menu-container nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
  }
}

.navbar-container header .menu-container nav ul li {
  margin-right: 2rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 979px) {
  .navbar-container header .menu-container nav ul li {
    margin: 1rem 1.5rem 1rem 3.5rem;
  }
}

.navbar-container header .menu-container nav ul li :hover {
  color: #DB739F;
}

.navbar-container header .menu-container nav ul li a {
  text-decoration: none;
  color: #868585;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.navbar-container header .menu-container nav ul li .contact-btn {
  font-weight: 500;
  padding: .5rem .9rem;
  font-size: 1rem;
  color: #DB739F;
  background-color: #082f29;
  border: 1px solid #DB739F;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  cursor: pointer;
}

.navbar-container header .menu-container nav ul li .contact-btn:hover {
  background-color: #DB739F;
  color: white;
}

.navbar-container header .menu-container nav ul li .contact-btn:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

main {
  max-width: 1800px;
  min-height: 100vh;
  padding: 15rem 5rem 5rem 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 599px) {
  main {
    padding: 8rem 3rem;
  }
}

@media (max-width: 979px) {
  main {
    padding: 5rem 3rem;
  }
}

main .header {
  height: 100vh;
}

@media (max-width: 599px) {
  main .header {
    height: auto;
  }
}

@media (max-width: 979px) {
  main .header {
    height: 70vh;
  }
}

main .header__content h1 {
  font-weight: 300;
  font-size: 4rem;
  line-height: 130%;
  color: #868585;
}

main .header__content h1 span {
  color: #30D2BC;
  font-weight: 400;
  text-shadow: 2px 2px 10px rgba(48, 210, 188, 0.18);
}

@media (max-width: 599px) {
  main .header__content h1 {
    font-size: 2.5rem;
  }
}

main .header__social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

main .header__social-icons ul li {
  margin: 2rem 2rem 0 0;
}

main .header__social-icons ul li svg {
  width: 2rem;
  fill: #DB739F;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 599px) {
  main .header__social-icons ul li svg {
    width: 1.5rem;
  }
}

main .header__social-icons ul li :hover {
  fill: #b96085;
}

main .about-me h2,
main .contact h2 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #868585;
}

main .about-me h2 span,
main .contact h2 span {
  color: #30D2BC;
  font-weight: 400;
  text-shadow: 2px 2px 10px rgba(48, 210, 188, 0.18);
}

@media (min-width: 980px) {
  main .about-me h2,
  main .contact h2 {
    font-size: 3rem;
  }
}

@media (max-width: 599px) {
  main .about-me h2,
  main .contact h2 {
    font-size: 2.2rem;
    margin-top: 10rem;
  }
}

main .about-me p,
main .contact p {
  color: #868585;
  font-size: 1rem;
  max-width: 800px;
}

main .about-me .about-me__skills-list,
main .contact .about-me__skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .about-me .about-me__skills-list ul,
main .contact .about-me__skills-list ul {
  list-style-type: none;
  margin: 1rem 5rem 0 0;
}

@media (min-width: 1800px) {
  main .about-me .about-me__skills-list ul,
  main .contact .about-me__skills-list ul {
    margin: 2.5rem 5rem 0 0;
  }
}

main .about-me .about-me__skills-list ul li,
main .contact .about-me__skills-list ul li {
  color: #868585;
  font-size: .9rem;
}

@media (min-width: 980px) {
  main .about-me .about-me__skills-list ul li,
  main .contact .about-me__skills-list ul li {
    font-size: 1.1rem;
  }
}

main .about-me .about-me__skills-list ul li:before,
main .contact .about-me__skills-list ul li:before {
  content: "▹";
  position: relative;
  margin-right: 1rem;
  color: #DB739F;
  font-size: 1.2rem;
}

@media (min-width: 980px) {
  main .about-me .about-me__skills-list ul li:before,
  main .contact .about-me__skills-list ul li:before {
    font-size: 1.4rem;
  }
}

main .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 979px) {
  main .projects {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main .projects h2 {
  margin: 9rem 0 2rem 0;
  font-size: 3.5rem;
  font-weight: 300;
  color: #868585;
}

main .projects h2 span {
  color: #30D2BC;
  font-weight: 400;
  text-shadow: 2px 2px 10px rgba(48, 210, 188, 0.18);
}

@media (min-width: 980px) {
  main .projects h2 {
    font-size: 3rem;
  }
}

@media (max-width: 599px) {
  main .projects h2 {
    font-size: 2.2rem;
  }
}

main .projects .projects-container:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .projects .projects-container:nth-child(even) .details {
  margin: 0 2rem;
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(even) .details {
    margin: 0;
  }
}

main .projects .projects-container:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .projects .projects-container:nth-child(odd) .details {
  margin: 0 2rem;
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(odd) .details {
    margin: 0;
  }
}

main .projects .projects-container:nth-child(even),
main .projects .projects-container:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1000px;
  -webkit-box-shadow: 0px -1px 4px 0px #1a2521;
          box-shadow: 0px -1px 4px 0px #1a2521;
  margin: 2rem 0 0 auto;
  background-color: #032926;
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(even),
  main .projects .projects-container:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 500px;
  }
}

main .projects .projects-container:nth-child(even) img,
main .projects .projects-container:nth-child(odd) img {
  max-width: 100%;
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(even) img,
  main .projects .projects-container:nth-child(odd) img {
    margin-bottom: 2rem;
  }
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(even) .details,
  main .projects .projects-container:nth-child(odd) .details {
    text-align: center;
    padding: 0 2rem;
  }
}

main .projects .projects-container:nth-child(even) .details h3,
main .projects .projects-container:nth-child(odd) .details h3 {
  font-size: .9rem;
  color: #30D2BC;
  font-weight: 300;
}

@media (max-width: 599px) {
  main .projects .projects-container:nth-child(even) .details h3,
  main .projects .projects-container:nth-child(odd) .details h3 {
    font-size: .8rem;
  }
}

main .projects .projects-container:nth-child(even) .details h4,
main .projects .projects-container:nth-child(odd) .details h4 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (max-width: 599px) {
  main .projects .projects-container:nth-child(even) .details h4,
  main .projects .projects-container:nth-child(odd) .details h4 {
    font-size: 1.5rem;
  }
}

main .projects .projects-container:nth-child(even) .details p,
main .projects .projects-container:nth-child(odd) .details p {
  margin-top: .5rem;
  color: #868585;
  font-size: 1rem;
  font-weight: 300;
}

main .projects .projects-container:nth-child(even) .projects-social-icons,
main .projects .projects-container:nth-child(odd) .projects-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(even) .projects-social-icons,
  main .projects .projects-container:nth-child(odd) .projects-social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
}

main .projects .projects-container:nth-child(even) .projects-social-icons svg,
main .projects .projects-container:nth-child(odd) .projects-social-icons svg {
  width: 1.5rem;
  padding: 1.5rem 2rem 0 0;
  fill: white;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 979px) {
  main .projects .projects-container:nth-child(even) .projects-social-icons svg,
  main .projects .projects-container:nth-child(odd) .projects-social-icons svg {
    padding: 1rem 1rem 0 1rem;
  }
}

main .projects .projects-container:nth-child(even) .projects-social-icons :hover,
main .projects .projects-container:nth-child(odd) .projects-social-icons :hover {
  fill: #DB739F;
}

main .projects .view-more-btn {
  margin-top: 4rem;
  font-weight: 500;
  padding: .5rem .9rem;
  font-size: 1rem;
  color: #DB739F;
  background-color: #082f29;
  border: 1px solid #DB739F;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  cursor: pointer;
}

main .projects .view-more-btn:hover {
  background-color: #DB739F;
  color: white;
}

main .projects .view-more-btn:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

main .contact {
  margin-top: 10rem;
}

@media (min-width: 980px) {
  main .contact h2 {
    font-size: 3rem;
  }
}

@media (max-width: 599px) {
  main .contact h2 {
    font-size: 2.2rem;
  }
}

main .contact .contact-btn {
  margin-top: 1.5rem;
  font-weight: 500;
  padding: .5rem .9rem;
  font-size: 1rem;
  color: #DB739F;
  background-color: #082f29;
  border: 1px solid #DB739F;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  cursor: pointer;
}

@media (min-width: 1800px) {
  main .contact .contact-btn {
    margin-top: 3rem;
  }
}

main .contact .contact-btn:hover {
  background-color: #DB739F;
  color: white;
}

main .contact .contact-btn:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #072b27;
}

@media (max-width: 599px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
  }
}

footer p {
  font-size: 1rem;
  margin-left: 2.2rem;
  color: #868585;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 1rem 2.2rem;
}

@media (max-width: 599px) {
  footer ul {
    margin-right: 0;
  }
}

footer ul li {
  margin: 0 1rem;
}

footer ul li svg {
  width: 1.5rem;
  fill: #868585;
  -webkit-transition: .2s;
  transition: .2s;
}

footer ul li :hover {
  fill: #DB739F;
}
/*# sourceMappingURL=main.css.map */