@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$colors: (
	"bg-color": #07342D,
  "primary": #30D2BC,
  "secondary": #DB739F,
  "secondary-hover": #b96085,
  "accent": #042E29,
  "paragraph": #828282
);

$desktop: 690px;
$mobile: 689px;
$tablet: 800px;
$largeScreens: 2000px;

@function color($color-name){
	@return map-get($colors, $color-name);
}

@mixin spanTextShadowEffect {
  span {
    color: color(primary);
    font-weight: 400;
    text-shadow: 1px 4px 0 rgba(48, 210, 188, 0.18);
  }
};

@mixin button3dEffect {
    text-transform: uppercase;
    font-weight: 700;
    padding: .5rem .7rem;
    font-size: .8rem;
    color: color(secondary);
    background-color: color(bg-color);
    border: 1px solid color(secondary);
    box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
    transition: .1s;
    outline: none;
    &:hover{
      background-color: color(secondary);
      color: white;
      box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
    }
    
      &:active{
        box-shadow:0 0 0 0;
    }
};

@mixin largeScreens { 
  @media (min-width: #{$largeScreens}) { 
    @content
  }
};

@mixin desktop { 
  @media (min-width: #{$desktop}) { 
    @content
  }
};

@mixin tablet { 
  @media (max-width: #{$tablet}) { 
    @content
  }
};

@mixin mobile { 
  @media (max-width: #{$mobile}) { 
    @content
  }
};

* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: color(bg-color);
  color:white;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;

  header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 2rem 1rem 2rem 2rem;
  
    .logo {
      text-decoration: none;
      color: white;
    }
    
    nav ul{
      list-style-type: none;
      display: flex;
      flex-flow: row;
  
      li {
        margin: 0 2rem;
        letter-spacing: 1px;
        @include largeScreens{
          font-size: 1.7rem;
          margin: 1rem 3rem;
        };

        :hover {
          color: color(secondary);
        }
  
        a {
          text-decoration: none;
          color: color(paragraph);
          transition: .2s;
          outline: none;
        }

        .contact-btn {
          @include button3dEffect;
          @include largeScreens{
            font-size: 1.7rem;
            padding: .7rem 2rem;
          };
        }
       
      }
  
    }
  }
}

.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 90%;
	height: 80px;
	z-index: 2;
}

.logo {
	height: 60px;
}

.hidden {
	display: none;
}

@include tablet {
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: color(accent);
    box-shadow: -1px 0 2px color(accent);
    .nav-list {
      flex-flow: column;
      align-items: flex-end;
      margin-top: 50%;
      width: 100%;
      li {
        margin-bottom: 1rem;
        a {
          font-size: 1.5rem;
          .contact-btn {
            font-size: 1rem;
            margin-top: 1rem;
            padding: .5rem 1.5rem;
          }
        }
      }
      
    }
  }

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
    left: 1rem;
		border-radius: 10px;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		background: color(paragraph);
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.5s ease-in-out;
	}

	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}

main {
  max-width: 100rem;
  min-height: 100vh;
  padding: 7rem 5rem 0 12rem;
  margin: 2rem auto 0 auto;
  
  @include largeScreens{
    max-width: 90vw;
  };
  @include desktop{
    padding: 15% 1rem 0 10%;
  };
  @include mobile{
    padding: 35% 1.5rem 20% 1.5rem;
  };
  @include largeScreens{
    padding: 9% 5rem 0 12rem;
  };
  
  .header {
    height: 100vh;
    @include desktop{
      height: auto;
    };
    @include mobile{
      height: auto;
    };
  }

  .header__content {
    font-size: 3.5rem;
    
    h1 {
      line-height: 5.5rem;
      font-weight: 300;
      color: color(paragraph);
      @include spanTextShadowEffect();
      @include desktop{
        font-size: 4rem;
      };
      @include mobile{
        font-size: 2rem;
        line-height: 3rem;
      };
      @include largeScreens{
        font-size: 7rem;
        line-height: 8rem;
      };
    }
  }

  .header__social-icons ul{
    display: flex;
    flex-flow: row;
    list-style-type: none;

    li {
      margin: 2rem 2rem 0 0;
      @include largeScreens{
        margin: 3rem 4rem 0 0;
      };
      svg {
        width: 2rem;
        @include mobile{
          width: 1.5rem;
        };
        @include largeScreens{
          width: 3.5rem;
        };
        fill: color(secondary);
        transition: .2s;
      
      }
      :hover {
        fill: color(secondary-hover);
      }
    }
  }

  .about-me,
  .contact {
    max-width: 800px;
    @include desktop{
      max-width: 80vw;
    };
    @include largeScreens(){
      max-width: 50vw;
    };
    

    h2 {
      margin: 20% 0 2rem 0;
      font-size: 3.5rem;
      font-weight: 300;
      color: color(paragraph);
      @include spanTextShadowEffect();
      @include desktop{
        font-size: 3rem;
      };
      @include mobile{
        font-size: 2rem;
      };
      @include largeScreens(){
        font-size: 5rem;
      };
    }

    p {
      color: color(paragraph);
      @include desktop{
        font-size: 1.2rem;
        line-height: 2rem;
      };
      @include largeScreens(){
        font-size: 2rem;
        line-height: 3rem;
      };
    }

    .about-me__skills-list {
      display: flex;
      flex-flow: row;
      ul {
        list-style-type: none;
        margin: 1rem 5rem 0 0;
        @include largeScreens(){
          margin: 2.5rem 5rem 0 0;
        };
        li {
          color: color(paragraph);
          font-size: .9rem;
          @include desktop{
            font-size: 1.1rem;
          };
          @include largeScreens(){
            font-size: 1.8rem;
            line-height: 3rem;
          };
          &:before {
            content: "▹";
            position: relative;
            margin-right: 1rem;
            color: color(secondary);
            font-size: 1.2rem;
            @include desktop{
              font-size: 1.4rem;
            };
            @include largeScreens(){
              font-size: 2rem;
              line-height: 2.5rem;
            };
          }
        }

        
      }
      
    }
  }

  .projects {
    max-width: 800px;
    @include desktop{
      max-width: 80vw;
    }
    @include largeScreens{
      max-width: 50vw;
    }
    

    h2 {
      margin: 20% 0 2rem 0;
      font-size: 3.5rem;
      font-weight: 300;
      color: color(paragraph);
      @include spanTextShadowEffect();
      @include desktop{
        font-size: 3rem;
      };
      @include mobile{
        font-size: 2rem;
      };
      @include largeScreens(){
        font-size: 5rem;
      };
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      @include largeScreens(){
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      };
      grid-gap: 20px;
      align-items: stretch;
    }
    
    .grid img {
      max-width: 100%;
    }

    .hover-image-text-container
    {
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      transition: all 0.2s linear;
      
    }

    .hover-text-container 
    {
      position: absolute;
      top: 0;
      width: 100%;  
      margin: 0 auto;
      opacity: 0;
      cursor: default;
      transition: opacity 0.2s linear;
      @include desktop{
        height: 100%;
      };

      @include mobile{
        height: 100%;
      };

      h3 {
        color: color(primary);
        font-size: .8rem;
        @include desktop{
          font-size: 1.2rem;
        };
        @include largeScreens{
          margin-top: 1.1rem;
        };
        @include mobile{
          font-size: 1rem;
        };
        font-weight: 300;
      }

      h4 {
        font-weight: 500;
        font-size: 1.4rem;
        text-transform: uppercase;
        @include mobile{
          font-size: 2rem;
        };
      }

      p {
        margin-top: .5rem;
        color: color(paragraph);
        font-size: .8rem;
        font-weight: 300;
        @include mobile{
          font-size: 1.2rem;
        };
      }
    }
    
    .hover-text-container:hover 
    {
      opacity: 1;
      border: 2px solid #30d3bc;
    }

    .hover-text-container-card
    {
      text-align: center;
      padding: 2.5rem 2rem 0 2rem;
      height: 18.2rem;
      @include desktop{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;        
        margin: 0;
        height: 100%;
        padding: 0 1rem;
      };
      @include mobile{
        height: 90%;
      };
      background: rgba(7, 53, 46, 0.96);
      font-size: 2rem;
      .projects-social-icons {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        
        ul {
          list-style-type: none;
          display: flex;
          flex-flow: row;
          li {
            margin: .7rem 0 0 0;
            svg {
              width: 1.5rem;
              margin: 0 .5rem;
              fill: color(secondary);
              transition: .2s;
              @include desktop{
                width: 2rem;
              };
            
            }
            :hover {
              fill: color(secondary-hover);
            }
          }
        }
      }
    }

    .view-more-btn {
      @include button3dEffect;
      position: relative;
      left: 0;
      top: 2rem;
      @include desktop{
        padding: 1.1rem 2rem; 
        font-size: 1.2rem;  
      };
      @include largeScreens{
        padding: 1.1rem 2rem; 
        font-size: 1.6rem;  
      };
    }

  }

  .contact {
    margin-bottom: 20%;
    @include mobile{
      margin-top: 30%;
      margin-bottom: 0;
    };
    h2 {
      @include desktop{
        font-size: 3rem;
      };
      @include mobile{
        font-size: 2rem;
      };
      @include largeScreens{
        font-size: 4rem;  
      };
    }
    .contact-btn {
      margin-top: 1.5rem;
      @include largeScreens{
        margin-top: 3rem;
 
      };
      @include button3dEffect();
      @include desktop{
        padding: 1.1rem 2rem; 
        font-size: 1.2rem;  
      };
      @include largeScreens{
        padding: 1.1rem 2rem; 
        font-size: 1.6rem;  
      };
    }
  }

}

footer {
  display: flex;
  flex-flow: row;
  @include mobile{
    flex-flow: column;
  };
  justify-content: space-between;
  align-items: center;
  background-color: color(accent);
  p {
    font-size: 1rem;
    margin-left: 2.2rem;
    @include mobile{
      margin-left: 0;
      margin: 1.5rem 0 1rem 0;
    };
    @include largeScreens{
      font-size: 2rem;
      margin: 1.5rem 0 1.5rem 2.2rem;
    };
    
  }
  ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style-type: none;
    margin-right: 2.2rem;
    @include mobile{
      margin-right: 0;
    };
    @include largeScreens{
      margin: 1.5rem 2.2rem 1.5rem 0;
    };
    
    li {
      margin: 1rem 1rem;
      svg {
        width: 1.5rem;
        @include largeScreens{
          width: 3rem;
          margin: 1rem 0 1rem 2rem;
        };
        fill: white;
        transition: .2s;
      }
      :hover {
        fill: color(secondary);
      }
    }
  }
  
}

