@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #07342D;
  color: white;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 1rem 2rem 2rem;
}

.navbar header .logo {
  text-decoration: none;
  color: white;
}

.navbar header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.navbar header nav ul li {
  margin: 0 2rem;
  letter-spacing: 1px;
}

.navbar header nav ul li :hover {
  color: #DB739F;
}

.navbar header nav ul li a {
  text-decoration: none;
  color: #828282;
  -webkit-transition: .2s;
  transition: .2s;
  outline: none;
}

.navbar header nav ul li .contact-btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem .7rem;
  font-size: .8rem;
  color: #DB739F;
  background-color: #07342D;
  border: 1px solid #DB739F;
  -webkit-box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
          box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
}

.navbar header nav ul li .contact-btn:hover {
  background-color: #DB739F;
  color: white;
  -webkit-box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
          box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
}

.navbar header nav ul li .contact-btn:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

main {
  max-width: 100rem;
  min-height: 100vh;
  padding: 7rem 5rem 0 12rem;
  margin: 2rem auto 0 auto;
}

@media (min-width: 690px) {
  main main {
    max-width: 100vw;
  }
}

main .header {
  height: 100vh;
}

main .header__content {
  font-size: 3.5rem;
}

main .header__content h1 {
  line-height: 5.5rem;
  font-weight: 300;
  color: #828282;
}

main .header__content h1 span {
  color: #30D2BC;
  font-weight: 400;
  text-shadow: 1px 4px 0 rgba(48, 210, 188, 0.18);
}

main .header__social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  list-style-type: none;
}

main .header__social-icons ul li {
  margin: 2rem 2rem 0 0;
}

main .header__social-icons ul li svg {
  width: 2rem;
  fill: #DB739F;
  -webkit-transition: .2s;
  transition: .2s;
}

main .header__social-icons ul li :hover {
  fill: #b96085;
}

main .about-me,
main .contact {
  max-width: 800px;
}

main .about-me h2,
main .contact h2 {
  margin: 20% 0 2rem 0;
  font-size: 3.5rem;
  font-weight: 300;
  color: #828282;
}

main .about-me h2 span,
main .contact h2 span {
  color: #30D2BC;
  font-weight: 400;
  text-shadow: 1px 4px 0 rgba(48, 210, 188, 0.18);
}

main .about-me p,
main .contact p {
  color: #828282;
}

main .about-me .about-me__skills-list,
main .contact .about-me__skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

main .about-me .about-me__skills-list ul,
main .contact .about-me__skills-list ul {
  list-style-type: none;
  margin: 1rem 5rem 0 0;
}

main .about-me .about-me__skills-list ul li,
main .contact .about-me__skills-list ul li {
  color: #828282;
  font-size: .9rem;
}

main .about-me .about-me__skills-list ul li:before,
main .contact .about-me__skills-list ul li:before {
  content: "▹";
  position: relative;
  margin-right: 1rem;
  color: #DB739F;
  font-size: 1.2rem;
}

main .projects {
  max-width: 800px;
}

main .projects h2 {
  margin: 20% 0 2rem 0;
  font-size: 3.5rem;
  font-weight: 300;
  color: #828282;
}

main .projects h2 span {
  color: #30D2BC;
  font-weight: 400;
  text-shadow: 1px 4px 0 rgba(48, 210, 188, 0.18);
}

main .projects .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main .projects .grid img {
  max-width: 100%;
}

main .projects .hover-image-text-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

main .projects .hover-text-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  cursor: default;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

main .projects .hover-text-container h3 {
  color: #30D2BC;
  font-size: .8rem;
  font-weight: 300;
}

main .projects .hover-text-container h4 {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
}

main .projects .hover-text-container p {
  margin-top: .5rem;
  color: #828282;
  font-size: .8rem;
  font-weight: 300;
}

main .projects .hover-text-container:hover {
  opacity: 1;
  border: 2px solid #30d3bc;
}

main .projects .hover-text-container-card {
  text-align: center;
  padding: 2.5rem 2rem 0 2rem;
  height: 18.2rem;
  background: rgba(7, 53, 46, 0.96);
  font-size: 2rem;
}

main .projects .hover-text-container-card .projects-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .projects .hover-text-container-card .projects-social-icons ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

main .projects .hover-text-container-card .projects-social-icons ul li {
  margin: .7rem 0 0 0;
}

main .projects .hover-text-container-card .projects-social-icons ul li svg {
  width: 1.5rem;
  margin: 0 .5rem;
  fill: #DB739F;
  -webkit-transition: .2s;
  transition: .2s;
}

main .projects .hover-text-container-card .projects-social-icons ul li :hover {
  fill: #b96085;
}

main .projects .view-more-btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem .7rem;
  font-size: .8rem;
  color: #DB739F;
  background-color: #07342D;
  border: 1px solid #DB739F;
  -webkit-box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
          box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  position: relative;
  left: 43%;
  top: 2rem;
}

main .projects .view-more-btn:hover {
  background-color: #DB739F;
  color: white;
  -webkit-box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
          box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
}

main .projects .view-more-btn:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

main .contact {
  margin-bottom: 20%;
}

main .contact .contact-btn {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem .7rem;
  font-size: .8rem;
  color: #DB739F;
  background-color: #07342D;
  border: 1px solid #DB739F;
  -webkit-box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
          box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f7a;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
}

main .contact .contact-btn:hover {
  background-color: #DB739F;
  color: white;
  -webkit-box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
          box-shadow: 0px 0px 0, 0px 0px 0, 0px 0px 0, 0px 0px 0, -3px 3px 0 #db739f8a;
}

main .contact .contact-btn:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #042E29;
}

footer p {
  font-size: 1rem;
  margin-left: 2.2rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-right: 2.2rem;
}

footer ul li {
  margin: 1rem 1rem;
}

footer ul li svg {
  width: 1.5rem;
  fill: white;
  -webkit-transition: .2s;
  transition: .2s;
}

footer ul li :hover {
  fill: #DB739F;
}
/*# sourceMappingURL=main.css.map */